@charset "utf-8";
/* CSS Document */


/*Footer Corporate - Support----------------------------------*/
.footer-main .corporate a:hover:before,
.footer-main .support a:hover:before{
  content: "\f105";
  font: normal normal normal 10px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  margin-right: 8px;
  font-size: 14px;
}
.footer-main .corporate a:hover,
.footer-main .support a:hover{
  color: #25bce9;
}

/* Footer other info------------------------------------------*/
.other-info > img{
  margin-top: 20px;
}


/*Footer Bottom ----------------------------------------------*/
.footer-bottom{
  height: 50px;
  line-height: 20px;
  color: #666;
  background: #161616;
  font-size: 14px;
}
.footer-bottom p{
  margin-bottom: 0;
  line-height: 50px;
  color: #999999;
}
.footer-bottom a{
  color: #25bce9;
}
#back-to-top{
  position: absolute;
  right: 0;
  top: -40px;
  height: 40px;
  width: 40px;
  background: #25bce9;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 14px;
}
#back-to-top i{
  font-size: 10px;
  display: block;
  margin-top: 4px;
  font-weight: normal;
}
.table-cart .cart_item td .product-info-col ul li span{
    font-size: 12px;
    color: #444444;
}
.table-cart.table tr th.product-info{
    width: 41%;
}
.fa-shopping-cart::before{
    position: relative;
    top:-2px;
}
.cart-w .fa-shopping-cart::before{
	left:-5px;
}
@media (min-width: 768px) and (max-width: 991px){
  .logo-footer img{
    width: 90%;
  }
}
@media (min-width: 768px){
  .footer-content{
    display: block !important;
  }
}
@media (max-width: 767px){
  .footer-content{
    display: none;
  }
  .footer-col{
    margin-bottom: 15px;
  }
  .footer-bottom{
    text-align: center;
  }
  .footer-bottom{
    height: auto;
    padding: 10px;
  }
  .footer-bottom p{
    line-height: 25px;
  }
}
@media (max-width: 768px){
    .table-cart.table{
        background: #f7f7f7;
    }
    .table-cart.table tr td{
        border-right: 0;
    }
    .table-cart.table tr td h3.product-name{
        font-size: 14px;
    }
    .table-cart .cart_item td .product-info-col ul li span{
        font-size: 11px;
    }
    .table-cart.table tr th.product-info{
        width: 45%;
    }
    .table-cart.table .product-info .product-info-col{
        margin-left: 12px;
    }
}
/*Footer: End ================================================*/
#product-detail .add-to-cart-w{
    color: #666666;
}
#product-detail .tab-content{
	margin-top:20px;
}
@media(max-width:768px){
	.table-cart.table tr td.product-subtotal{
		font-size:14px;
	}
	.table-cart.table tr td{
		border-right:1px solid #f1f1f1;
	}
       
        section.add-to-cart-w{
            padding-bottom: 10px;
        }
}
@media(max-width:767px){
	#newsletter,.sb-close-backdrop,.sb-overlay{
		display:none!important;
	}
	.category-image.mobile{
		 margin-top: -3px !important;
	}     
         #ideals .owl-buttons > div.owl-prev{
            left: 0!important;
        }
        #ideals .owl-buttons > div.owl-next{
            right: 0!important;
        }
}
@media(max-width:320px){
    .col-md-5.col-sm-4.col-xs-4.view-mode{
        padding-right: 0;
        text-align: left;
    }
    .col-lg-1.col-md-2.col-sm-2.col-xs-3.headerCS{
        padding-left: 9px;
    }
    #features{
        padding-top: 10px;
    }
   .product-info-w .owl-carousel.col-md-8 .ideal img{
        width: 90%;
    }
}
.search-icon.dropdowSCIcon{
	display:inline-block;
	margin-top:-2px;
}
.slidetext{
	margin:auto;
	max-width:70%;
	font-weight:300px;
}
.acc-dashboard .account-main .row.db-content{
    margin: 0;
}
.account .db-hello .pad-1015{
    padding: 10px 0;
}
.acc-dashboard section.account-main.col-md-9.col-sm-8.col-xs-12{
    margin-bottom: 45px;
}
.form-control{
    box-shadow: 0 0 0 0;
}
.mcart-dd-content .mcart-item.iteam2:after, .search-w .search-form.iteam2:after{
    border: 0;
}
.mcart-item-w{
    min-height: 90px;
}
.mcart-links.buttons-set.clearfix{
    padding-top: 0;
}
img{
    max-width: 100%;
}
@media (min-width: 769px) and (max-width: 1024px){
  .price-total.col-xs-6{
    width: 100%;
  }
  .add-to-cart .quantity{
      margin-bottom: 10px;
  }
  .add-to-cart .price-total{
      margin-bottom: 20px;
  }
  .col-sm-3.social{
      width: 205px;
  }
}
.scroll-pane.horizontal-only.jspScrollable{
    overflow:unset!important;
}
@media (min-width: 500px) and (max-width: 767px){
    .cart-view-top div.col-md-6{
        width: 50%;
    }
    .products-list.category-product{
        padding: 0;
    }
    section.category-w .row .category.grid ul li.pro-item{
        width: 50%;
        padding: 15px;
        float: left;
        margin: 0;
    }
    .col-md-12.pager{
        padding: 0;
    }
    .bottom-toolbar.row{
        clear: both;
    }
    
}
.pr-main{
	padding:30px 0 55px;
}
/* Contact */
#pr-contact h1.ct-header{
	padding:0 10px 20px 10px;
	margin-top:-12px;
	font-size:21px;
	font-weight:bold;
}
.content{
	background:url(../images/image_style/bg-contact.png);
	padding-bottom:65px;
}
.contact-map{
	margin-bottom:45px;
}
p,a,span,h1,h2,h3{
	font-weight: 400;
	color:#444444;
}
#breadcrumbs{
	border-top:1px solid #eeeeee;
	border-bottom:1px solid #e1e1e1;
	padding:20px 0;
	background:#ffffff;
}
#breadcrumbs h2{
	float:left;
	font-size:16px;
	font-family:"Roboto Regular";
}
#breadcrumbs ul{
	float:right;
}
#breadcrumbs ul li{
	display:inline-block;
	font-size:12px;
	color:#888888;
	font-family:"Roboto Regular";
}
#breadcrumbs ul li a{
	color:#888888;
	position:relative;
	padding-right:10px;
}
#breadcrumbs ul li a:before{
	position:absolute;
	content:"/";
	top:0;
	right:0;
}
.container  h1.ct-header{
	font-size:18px;
	color:#444444;
	font-family:"Roboto Bold";
	padding:20px 0;
}
#faq .container  h1.ct-header{
    padding-top: 0;
}
.contact-map img{
	max-width:100%;
}
.container .address,
.container .phone,
.container .fax,
.container .website{
	overflow:hidden;
	line-height:30px;
}
.container .address i,.container .phone i,.container .fax i,.container .website i{
	float:left; 
	font-size:24px;
}
.container .address p,.container .phone p,.container .fax p,.container .website p{
	float:right;
	width:84%;
    margin-top: -5px;
}
.container .address p span,.container .phone p span,.container .fax p span,.container .website p span{
	font-size:14px;
	color:#444444;
	font-family:"Roboto Regular";
}
#contact-form textarea {
	width:100%;
	border:1px solid #d6d6d6;
	padding:5px;
	text-align:left;
	font-size:12px;
	color:#888888;
	height:250px;
	margin-bottom:15px;
}
#contact-form p{
	font-size:12px;
	color:#888888;
}
span.star{
	font-size:14px;
	color:#f27571;
}
#contact-form  input{
	border:1px solid #d6d6d6;
	font-size:12px;
	color:#888888;
	width:100%;
	padding:10px 15px;
	margin-bottom:18px;
}

#contact-form  input.subject{
	width:12px!important;
        height: 12px;
        padding: 0;
}
#contact-form  span{
	font-size:12px;
}
#contact-form  button.sendmail{
	width:100%;
	background:#d6d6d6 ;	
	border:2px solid transparent;
	color:#444444;
	font-size:14px;
	padding:8px 0;
	text-transform:uppercase;
	max-width:260px;
	border-bottom:2px solid #646464;
	cursor:pointer;
}
#contact-form  button.sendmail:hover{
	background:#fbc443;
	color:#ffffff;
}
#contact-form .col-md-3.col-sm-8.col-xs-12{
    float: right;
}
/* End contact */

/* Login */
.pr-main .container{
	width:1200px;
}
#pr-login .container .col-md-9 .col-md-6{
	padding-left:0;
}
#pr-register .container .col-md-9 .col-md-6.left{
	padding-left:0;
}
#pr-register .container .col-md-9 .col-md-6.right{
	padding-right:0;
}

#pr-login h1.ct-header{
	font-size:24px;
	padding:0 0 25px;
    margin-top:-5px;
	font-weight:bold;
}
#pr-login h4,#pr-register h4{
	font-size:16px;
	position:relative;
	float:left;
	margin-bottom:25px;
}
#pr-login .socail{
	float:left;
}
#pr-login .socail h4{
	margin-top:16px;
}
#pr-login p{
	clear:both;
	font-size:13px;
	color:#888888;
}
#pr-register p{
    clear:both;
    font-size:13px;
    color:#444444;
	text-transform:capitalize;
}
#pr-login h4:after,#pr-register h4:after{
	position:absolute;
	content:"";
	bottom:-8px;
	left:0;
	width:100%;
	height:1px;
	background:#25bce9;
}
#login-form p,#forgotpass-form p{
	font-size:14px;
	color:#444444;
}
#pr-login .container .col-md-6.col-sm-6.col-xs-12.right{
    padding-right: 0;
}
#pr-login .container .col-md-6.col-sm-6.col-xs-12.right p{
    margin-bottom: 25px;
}
#pr-login .container .col-md-6.col-sm-6.col-xs-12.right #forgotpass-form p{
    margin-bottom: 10px;
}
#pr-login .container .col-md-6.col-sm-6.col-xs-12.right #forgotpass-form .email{
    margin-bottom:40px;
}
.container .col-md-6  input{
	border: 1px solid #d7d7d7;
	font-size:14px;
	padding:10px;
	width:100%;
	max-width:425px;
	margin:0 0 24px;
    background: #ffffff;
}
.pr-main .container .col-md-6  button {
	float:right;
	background:#d6d6d6;
	border:2px solid transparent;
	border-bottom:2px solid #646464;
	color:#444444;
	font-size:12px;
	padding:10px 35px;
	text-transform:uppercase;
}
.pr-main .container .col-md-6  button:hover{
	border-bottom:2px solid #646464;
	cursor:pointer;
	background:#fbc443;
	color:#ffffff;
}
.container .col-md-6 .socail{
	clear:both;
}
.container .col-md-6 .socail h4{
	float:none!important;
}
.container .col-md-6 .socail p span{
	font-size:16px;
	color:#888888;
}
.container .col-md-6 .socail p{
	font-size:12px!important;
	color:#444444!important;
}
.container .col-md-6  button.connectfa{
	float:left;
	margin-top:5px;
	padding:10px 25px;
}
#pr-login  .col-md-6{
	padding-right:30px;
}
#pr-login  .col-md-3{
    float:right;
}
#pr-login #login-form{
    padding-top: 15px;
}
#pr-login #login-form button.login{ 
    color: #646464;
}
#pr-login #login-form button.login:hover{
    opacity: 0.9;
	color:#ffffff;
}
#register-form button.register{ 
    color: #646464;
}
#register-form button.register:hover{
    opacity: 0.9;
	color:#ffffff;
}
/* End login */
/* Wishlist */
.main{
	overflow:hidden;
	background:url(../images/image_style/bg-contact.png) repeat;
	clear:both;
}
#wishlist{
	background:#f9f9f9;
}
#wishlist h1.ct-header{
	padding:0 15px 20px 15px;
	font-weight:bold;
}
#wishlist table{
	border:1px solid #ececec;
	background:#ffffff;
	width:100%;
}
#wishlist tr.total{
	margin-top:20px;
}
#wishlist table tr td{
	border-bottom:1px solid #ececec;
	padding:35px 0 35px 20px;
}
#wishlist table tr td img{
    border: 1px solid #d6d6d6;
}
#wishlist table tr td.img{
	vertical-align:top;
}
#wishlist table tr td.end{
    vertical-align: top;
}
#wishlist table tr td h4{
	font-size:16px;
	color:#444444;
	margin-bottom:14px;
	margin-top:-3px;
}
#wishlist table tr td h4:hover{
    color: #25bce9;
}
#wishlist table tr td textarea{
    margin-top: 20px;
    max-width: 100%;
	width:98%;
}
#wishlist table tr td p{
	color:#777777;
	font-size:12px;
}
#wishlist table tr td  textarea {
	border:1px solid #ececec;
	padding:5px;
}
#wishlist .price{
	font-size:16px;
	color:#444444;
	font-weight:bold;
}
#wishlist .quanty{
	max-width:40px;
	border:1px solid #888888;
	color:#444444;
	font-size:14px;
	padding:3px;
	text-align:center;
}
#wishlist button.add {
	display:block;
	color:#444444;
	text-transform:uppercase;
	background:url(../images/icons/ic-addtocart.png) no-repeat 15px 14px #d0d0d0;
	border:0;
	padding:13px 20px 13px 45px;
	margin:15px 0;
        font-size: 12px;
}
#wishlist button.add:hover{
	color:#ffffff;
	background:url(../images/icons/ic-addtocarthover.png) no-repeat 15px 14px #fbc443;
}
#wishlist .edit{
	background:url(../images/icons/ic-edit.png) no-repeat;
	padding-left:25px;
	text-transform:capitalize;
	text-transform:uppercase;
	font-size:12px;
}
#wishlist .edit:hover , #wishlist .remove:hover{
	cursor:pointer;
	color:#25bce9;
}
#wishlist .remove{
	background:url(../images/icons/ic-delete.png) no-repeat 0 center;
	padding-left:18px;
	text-transform:capitalize;
	text-transform:uppercase;
	font-size:12px;
	margin-left:20px;
}
#wishlist .update{
	padding-left:10px;
	text-transform:capitalize;
	text-transform:uppercase;
	font-size:12px;
	margin-left:0px;
	cursor :pointer;
}
#wishlist .update i{
	margin-right:5px;
}
.pr-main .col-md-3 img{
	float:right;
}
#wishlist table tr.total td  button {
	border:0;
	font-size:12px;
	color:#444444;
	text-transform:uppercase;
	background:#d0d0d0;
	border-bottom:2px solid #666666;
	padding:9px 20px 8px 40px;
	float:right;
	margin-right:10px;
}
#wishlist table tr.total td  button.addcart{
	background:url(../images/icons/ic-addtocart.png) no-repeat 15px 11px #d0d0d0 ;
}
#wishlist table tr.total td  button.addcart:hover{
	background:url(../images/icons/ic-addtocarthover.png) no-repeat 15px 11px #fbc443;
}
#wishlist table tr.total td  button.update{
	background:url(../images/icons/ic-update.png) no-repeat 15px 11px #d0d0d0 ;
}
#wishlist table tr.total td  button.update:hover{
	background:url(../images/icons/ic-updatehover.png) no-repeat 15px 11px #fbc443;
}
#wishlist table tr.total td  button.share{
	background:url(../images/icons/ic-share.png) no-repeat 15px 12px #d0d0d0 ;
}
#wishlist table tr.total td  button.share:hover{
	background:url(../images/icons/ic-share-hover.png) no-repeat 15px 12px #fbc443;
}
#wishlist table tr.total td {
	padding:25px 0;
}
#wishlist table tr.total td  button.addcart{
	margin-right:15px;
}
#wishlist table tr.total td  button:hover{
	background:#fbc443;
	color:#ffffff;
}

/* End wishlist */
/* Faq */
h1.ct-header{
	font-size:21px;
	color:#444444;
	font-family:"Roboto Bold";
	padding-bottom:10px;
}
#faq p.titler{
	font-size:14px;
	color:#888888;
	line-height:25px;
        padding-bottom:15px;
}
#faq #CMStab  h3{
	font-size:18px;
	color:#444444;
	margin-bottom:25px;
	cursor:pointer;
	background:url(../images/icons/ic-add.png) no-repeat;
	padding-left:28px;
}
#faq #CMStab  h3.active{
	margin-bottom:15px;
	background:url(../images/icons/ic-sub.png) no-repeat 0 4px;
}
#faq .accordion p{
	font-size:14px;
	color:#888888;
}
#faq .accordion {
	margin-bottom:30px;
	padding-left:28px;
}
/* End faq */
/* About us */
#aboutus{
    padding-top: 50px;
}
#aboutus .container{
	width:1200px;
}
#aboutus .container .col-md-6,#aboutus .container .col-md-4,#aboutus .container .col-md-12,
#aboutbottom .container .col-md-6,#aboutbottom .container .col-md-4,#aboutbottom .container .col-md-12
{
	padding:0 15px;
}
#aboutus,#aboutbottom{
	background:#ffffff;
}
#aboutbottom{
	border-top:1px solid #e9e9e9;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.9);
}
#aboutus h2{
	font-size:19px;
	color:#666666;
	position:relative;
	border-bottom:1px solid #e1e1e1;
	height:13px;
	margin-bottom:30px;
}
#aboutus h2 span{
	position:absolute;
	background:#ffffff;
	padding-right:30px;
}
#aboutus  p{
	font-size:14px;
	color:#666666;
        line-height: 15px;
}
#aboutus .container .col-md-6 div.top{
	margin-bottom:65px;
        padding-top: 10px;
}
#aboutus .container .col-md-6 div.top p{
    line-height: 25px;
}
#aboutus .container .col-md-6 div{
	margin-left:14px;
}
#aboutus .container .col-md-12 div p span{
    color: #48bce9;
}
#aboutus .container .col-md-12{
	text-align:center;
}
#aboutus .container .col-md-6 div.progress{
	height:30px;
	border-radius:0;
	background:#e6e5e5;
	margin-bottom:5px;
}
#aboutus .container .col-md-6 div .progress-bar{
	margin-left:0;
	text-align:left;
	background:#48bce9;
}
#aboutus .container .col-md-6 div .progress-bar span{
	margin-top:3px;
	padding:2px 10px;
	margin-left:3px;
	background:#0099cc;
	font-size:13px;
	color:#ffffff;
	display:inline-block;
}
#aboutus .container .col-md-12 h1{
	border-top:1px solid #e1e1e1;
	margin-top:40px;
	padding-top:50px;
	font-size:24px;
	color:#333333;
	padding-bottom:20px;
}
#aboutus .container .col-md-12  div.col-md-4{
	margin-top:40px;
}
#aboutus .container .col-md-12  div img{
	max-width:100%;
	display:inline-block;
}
#aboutus .container .col-md-12  div h3{
	font-size:19px;
	color:#222222;
	text-transform:capitalize;
	padding:10px 0;
}
#aboutus .container .col-md-12  div h4{
	font-size:13px;
	color:#919191;
	text-transform:capitalize;
	margin-bottom:10px;
}
#aboutus .container .col-md-12  div p{
	font-size:14px;
	color:#666666;
	line-height:25px;
        width: 85%;
        margin: auto;
}
#aboutbottom{
	padding-top:70px;
}
#aboutbottom h1{
	text-align:center;
	font-size:27px;
	color:#444444;
	text-transform: uppercase;
	position:relative;
	padding-bottom:40px;
}
#aboutbottom span.line{
	background:url(../images/icons/ic-line.png) no-repeat center center;
	width:100%;
	display:block;
	height:10px;
	margin-bottom:40px;
}
#aboutbottom .col-md-6{
	min-height:180px;
	padding-top:20px!important;
}
#aboutbottom .top{
	border-bottom:1px dashed #e1e1e1;
}
#aboutbottom  .iteamleft {
	border-right:1px dashed #e1e1e1;
}
#aboutbottom .col-md-6 img{
	float:left;
	width:18%
	max-width:80px;
}
#aboutbottom .col-md-6  .data{
	float:right;
	width:82%;
}
#aboutbottom .col-md-6  .data p{
	color:#888888;
	font-size:14px;
}
#aboutbottom .col-md-6  .data  p.title{
	font-size:13px;
	color:#444444;
	margin-top:25px;
}
#aboutbottom .col-md-6  .data  p.end{
	font-size:13px;
}
#aboutbottom .col-md-6  .data  p.end span{
	color:#48bce9;
}
/* End about us */
/* Register */
#pr-register h1{
	font-size:20px;
	color:#444444;
	font-family:"Roboto Bold";
	padding-bottom:30px;
	font-weight:bold;
}
#pr-register input#remember{
	width:12px!important;
    height: 12px!important;
    padding: 0;
	margin-right:5px;
}
/* End register */
/* Checkout */
#checkout{
	background:#ffffff;
}
.cart-top p{
	width:70%;
	float:left;
	text-align:center;
	color:#ffffff;
	font-size:27px;
	font-weight:normal;
	padding-top:10px;
}
.cart-top a{
	width:30%;
	float:left;
	text-align:center;
	padding-top:18px;
	text-decoration:none;
	color:#ffffff;
	font-size:18px;
	position:relative;
}
.cart-top a span{
    border-bottom: 2px solid #ffffff;
    color: #ffffff;
    font-weight: bold;
}
.cart-top a:after{
	content:"";
	background:url(images/ic-icon.png) no-repeat  5px 3px;
	width:40px;
	height:25px;
	position: absolute;
}

.cart-view-top div.col-md-6{
	padding:20px 15px;
}
.cart-view-top div.col-md-6.right{
	text-align:right;
}
.cart-view-top div.col-md-6 h1{
	font-weight:bold;
	color:#444444;
	font-size:18px;
	padding-bottom:10px;
	position:relative;
}
.cart-view-top div.col-md-6.right h1{
	padding-right:20px;
}
.cart-view-top div.col-md-6.right h1:after{
	content:"";
	width:25px;
	height:17px;
	background:url(../images/icons/ic-continue.jpg) no-repeat  5px 0;
	top:2px;;
	position:absolute;
}
#login-pane  p{
	font-size:12px;
	color:#444444;
}
#login-pane  p a{
	color:#25bce9;
        font-size: 14px;
}
.onepage{
	display:block;
	clear:both;
}
.onepage h3{
	background:#25bce9;
	color:#ffffff;
	font-size:14px;
	text-transform:uppercase;
	padding:8px 6px;
}
.onepage h3  span.icon{
	display:inline-block;
	width:22px;
	height:22px;
	border-radius:50px;
	border:1px solid #ffffff;
	color:#ffffff;
	padding:2px;
	margin-right:6px;
        text-align: center;
}
.onepage .pane-inner{
	border:1px solid #e4e4e4;
	border-top:0;
	padding:20px 15px 0 15px;
	margin-bottom:30px;
}
.onepage  ul li.short{
	width:50%;
	float:left;
	height:65px;
}
.onepage .pane-inner ul li.long{
	padding-bottom:5px;
}
.onepage .pane-inner ul li.short.right input,.onepage .pane-inner ul li.short.right select {
	float:right;
}
.onepage .pane-inner ul li.short.right label {
	padding-left:10px;
}
.onepage .pane-inner ul li input, .onepage .pane-inner ul li  select {
	min-width:95%;
	max-width:95%;
	font-size:12px;
	color:#444444;
	border:1px solid #e8e8e8;
	padding:5px;
}
.onepage .pane-inner ul li.long  input{
	width:100%;
	max-width:100%;
}
.onepage .pane-inner{
	font-size:12px;
	color:#444444;
	font-weight: normal;
}
.onepage .pane-inner ul li label {
	font-size:12px;
	color:#444444;
	font-weight: normal;
}
#user-actions-trigger label.registers,#shipping_info_w label.registers{
	display:inline-block;
	padding-left:6px;
	margin:0;
	font-weight: normal;
}
#user-actions-trigger{
    padding-top: 7px;
}
#user-register-fields{
	margin-top:10px;
}
.onepage .pane-inner ul li.long input#agreed_field{
	width:10px;
	margin-left:5px;
	min-width:10px;
}
.onepage .pane-inner ul li input#register{
	width:10px;
	min-width:10px;
}
.onepage em{
	color:#f27571;
}
#table_shippingto{
	padding-top:10px;
}
#right-pane-top,#checkfull{
	padding:0;
}
#shipping_method{
	padding-left:0;
}
#payment_method{
	padding-right:0;
}
.container .col-md-6 input#shipment_id_1,.container .col-md-6 input#shipment_id_2,
.container .col-md-6 input#payment_id_1,.container .col-md-6 input#payment_id_2{
	width:10px;
	margin-bottom:15px;
}
#shipments,#payments{
	padding-top:8px;
}
.onepage label{
	font-weight:normal;
}
.delivery-time-pane{
	padding:0 15px 0 0;
}
.delivery-time-pane .pane-inner{
	padding-bottom:10px;
}
.input-date,.input-time{
	padding-top:6px;
}
.container .col-md-6 .delivery  input{
	width:46%;
	margin-bottom:10px;
        font-size: 12px;
}
#cart-contents{
	clear:both;
	margin-bottom:20px;
}
.cart-summary.no-border{
	width:100%;
}
.cart-summary.no-border tr th{
	font-size:12px;
	color:#5a5a5a;
	text-transform:capitalize;
	background:#e8e8e8;
	text-align:center;
	padding:6px;
}
.cart-summary.no-border tr td{
	font-size:12px;
	color:#5a5a5a;
	text-align:center;
}
.cart-summary.no-border tr th.th-name{
	text-align:left;
	padding-left:25px;
}
.cart-summary.no-border tr td.pro_name{
	padding-left:15px;
	text-align:left;
	color:#444444;
	font-size:14px;
	padding-top:20px;
}
.cart-summary.no-border tr td{
	border-bottom:1px solid #e4e4e4;
}
.cart-summary.no-border tr.product-detail-row td{
	padding:20px 0;
}
.cart-summary.no-border tr.product-detail-row td{
	padding-top:50px;
}
.pro_name img{
	float:left;
	padding-right:15px;
}
.pro_name a{
	display:inline-block;
	padding-top:30px;
}
.product-quanlity input#quantity_0{
	border:1px solid #e4e4e4;
	font-size:12px;
	padding:12px 5px;
	text-align:center;
}
.cart-summary.no-border tr td.product-quanlity{
	padding-top:35px;
}
.cart-summary.no-border tr td.product-quanlity.action{
	padding-top:50px;
}
.icon-update.vm2-add_quantity_cart{
	width:15px;
	height:15px;
	background:url(images/ic-edit.jpg) no-repeat;
	border:0;
}
.icon-remove.vm2-remove_from_cart{
	width:15px;
	height:13px;
	background:url(images/ic-delete.jpg) no-repeat;
	display:inline-block;
}
.pr-total table{
	width:25%;
	float:right;
}
.cart-summary.no-border tr.pr-total table tr td{
	border:0;
	padding:5px 0;
	font-weight:bold;
	text-align:right;
	padding-right:20px!important;
        font-size: 14px;
}
.cart-summary.no-border tr.pr-total  td{
	padding:0;
}
.cart-summary.no-border tr.pr-total  td.pr-right{
	border-left:1px solid #e4e4e4;
	font-weight:normal;
	text-align:left;
	padding-left:20px!important;
	padding-right:0!important;
}
.cart-summary.no-border tr.pr-total  td.pr-right #bill_total{
	color:#25bce9;
}
.cart-summary.no-border tr.pr-total table tr.first td{
	padding-top:18px;
}
.cart-summary.no-border tr.pr-total table tr.last td{
	padding-bottom:18px;
}
.cart-summary.no-border tr.coupon-pane td{
	padding:15px 0;
	text-align:left!important;
}
#coupon_code{
	border:1px solid #e4e4e4;
	font-size:12px;
	color:#a5a5a5;
	padding:8px 10px;
	min-width:250px;
}
#coupon_code_button{
	font-size:12px;
	text-transform:uppercase;
	background:#d6d6d6;
	border:0;
	border-radius:0;
	padding:9px;
	margin-left:15px;
}
#coupon_code_button:hover{
	background:#fbc443;
	color:#ffffff;
}
.customer-note{
	width:50%;
	float:left;
}
.vm-fieldset-tos{
	width:45%;
	padding-left:20px;
	padding-top:25px;
}
.customer-note p{
	font-size:12px;
	color:#25bce9;
}
#customer_note_field{
	max-width:100%;
	border:1px solid #e4e4e4;
	padding:10px;
	height:160px;
	color:#444444;
	font-size:12px;
}
.vm-fieldset-tos span{
	color:#5a5a5a;
	font-size:12px;
}
.checkout-button-top a span{
	background:#d6d6d6;
	color:#646464;
	text-transform:uppercase;
	padding:10px 30px;
	display:inline-block;
	margin-top:30px;
	border-bottom:2px solid #646464; 
}
.checkout-button-top a span:hover{
	background:#fbc443;
	color:#ffffff;
}
.cart-summary.no-border tr.product-detail-row td.pro_name{
	padding-top:20px;
}
.container .col-sm-6 #shipping_method input#shipment_id_1,
.container .col-sm-6 #shipping_method input#shipment_id_2,
.container .col-sm-6 #payment_method input#payment_id_1,
.container .col-sm-6 #payment_method input#payment_id_2{
    width: 12px!important;
    height:12px!important;
    padding: 0;
}
/* End Checkout*/

/* Reponsive */
@media (max-width: 1170px){
	.pr-main .container,#aboutus .container{
		width:100%;
	}
	.container .col-md-6 .delivery input{
		width:45%;
	}
	#aboutus .container .col-md-12  div div{
		width:100%;
	}
	.pr-main .col-md-3 img{
		max-width:100%;
	}
	#wishlist button.add{
		padding-left:30px;
	}
	#wishlist table tr td.end{
		padding-left:5px;
	}
	#wishlist .remove{
		margin-left:0;
	}

}
@media (max-width: 995px){
	#wishlist .remove{
		margin-left:20px;
	}
	#shipping_method{
		padding-right:0;
	}
	#payment_method{
		padding-left:0;
	}
	.delivery-time-pane{
		padding:0;
	}
	.customer-note,.vm-fieldset-tos{
		clear: both;
		padding-left: 0;
		width: 100%;
	}
	.col-md-6.col-sm-6.col-xs-12 > img{
		max-width:100%;
	}
	.container .col-md-6 button{
		margin-bottom:20px;
	}
	#wishlist .price,#wishlist .quanty,#wishlist button.add{
		float:left;
		margin-right:15px;
	}
	#wishlist button.add{
		margin-top:-3px;
	}
	#wishlist table tr.total td button{
		padding-left:30px;
		float:left;
		margin:0 0 0 10px!important;
	}
	#wishlist table tr.total td{
		border-bottom:0;
		min-height:80px;
	}
	#wishlist .edit{
		display:inline-block;
		margin-top:8px;
	}
	#wishlist .price{
		margin-top:8px;
		color:#444444;
		font-weight:bold;
	}
        #wishlist .col-md-3.col-sm-3.col-xs-12 {
            display: none;
        }
        #wishlist .col-md-9.col-sm-9.col-xs-12{
            width: 100%;
        }
}
@media (max-width: 850px){
    #aboutbottom .col-md-6 .data{
        width: 70%;
    }
    #aboutbottom .container .iteamleft,#aboutbottom .container .iteamright{
        min-height: 215px;
    }
}
@media (max-width: 768px){
.cart-top{
	display:none;
}
#pr-login #login-form{
    padding-top: 34px;
}
#aboutus .container .col-md-12 div p{
	width:100%;
	line-height:21px;
}
    #pr-login .container .col-md-3.col-sm-3.col-xs-12,#faq .container .col-md-3.col-sm-3.col-xs-12,
    #pr-register .col-md-3.col-sm-3.col-xs-12{
        display: none;
    }
    #pr-login .container .col-md-9.col-sm-9.col-xs-12, #faq .container .col-md-9.col-sm-9.col-xs-12,
    #pr-register .col-md-9.col-sm-9.col-xs-12{
        width: 100%;
    }
    #aboutus .container .col-md-6 div.top{
        margin-bottom: 30px;
    }
    /* Wishlist */
    #wishlist table tr td{
        display: inline-block;
        padding: 3%;
        min-height: 209px;
    }
    #wishlist table tr td.img{
        width:20%;
    }
    #wishlist table tr td.data{
        width:50%;
        padding-left: 0;
    }
     #wishlist table tr td.end{
        width:28%;
        padding-left: 0;
    }
    #wishlist table tr td.end p{
        width: 100%;
        clear: both;
    }
    #wishlist table tr td.end .quanty{
        display: block;
        
    }
    #wishlist button.add{
        margin: 12px 0;
        padding: 10px 20px 10px 40px;
        clear: both;
    }
    #wishlist table tr td textarea{
        height: 90px;
        margin-top: 0;
    }
    /* End wishlist */
	.cart-top p{
		font-size:20px;
		margin-top:5px;
	}
	#pr-login h1.ct-header{
             padding-top:20px!important;
        }
        #pr-contact #contact-form{
            width: 75%!important;
            overflow: hidden;
        }
        #pr-contact #contact-form .col-md-6.col-sm-6.col-xs-12,
        #pr-contact #contact-form .col-md-3.col-sm-3.col-xs-12{
            width: 100%
        }
}
@media (max-width: 767px){
        #aboutbottom .iteamleft{
            border-bottom: 1px dashed #e1e1e1;
        }
	#pr-register .container .col-md-9 .col-md-6.right{
		padding:0;
	}
	#pr-login .col-md-6{
		padding-right:0;
	}
	#pr-login{
		padding-top:0;
	}
	#pr-login .container .col-md-6 input{
		max-width:430px;
	}
	.container .col-md-6 button{
		float:none;
		margin-bottom:20px;
		display:block;
	}
	.container .col-md-6 .delivery input{
		width:47%;
	} 
	.cart-view-top div.col-md-6{
		padding:5px 15px;
	}
	.cart-top a{
		display:none;
	}.cart-top p{
		width:100%;
	}
	.pr-main .container{
		padding:0;
	}
	#aboutus .container .col-md-6 .top{
		margin:20px 0!important;
	}
	#aboutus .container .col-md-6 div{
		margin-left:0;
	}
	.pr-main .col-md-3 img{
		float:left;
	}
}
@media (max-width: 500px){
	#aboutbottom .container .iteamleft,#aboutbottom .container .iteamright{
	   text-align: center;
	   padding: 25px 0;
	}
	#aboutbottom .container .iteamleft > img,#aboutbottom .container .iteamright > img{
		padding-left: 40%;
	}
	#aboutus h2 span{
		padding-right: 10px;
	}
	#wishlist table tr td{
			padding-left:10px
	}
	#aboutbottom span.line{
		width: 70%;
		margin: auto;
	}
	#aboutbottom .col-md-6 .data{
		width: 100%;
	}
	#wishlist button.add{
		margin-top:10px;
	}
	#wishlist table tr td.end{
		padding-bottom:15px;
	}
	#wishlist table tr.total td button{
		float:none;
		margin:0 0 15px 15px!important;
		padding-left:45px;
		margin-bottom:20px;
	}
	#wishlist textarea {
		width:95%;
	}
	#wishlist button.add{
		margin-top:-4px;
	}
	#wishlist .col-md-3 img{
		margin-top:25px;
	}
	
	#checkout .cart-top p{
		font-size:15px;
	}
	.onepage ul li.short{
		width:100%;
	}
	.onepage .pane-inner ul li input, .onepage .pane-inner ul li select{
		max-width:100%;
		min-width:100%;
	}
	.onepage .pane-inner ul li.short.right label{
		padding-left:0;
	}
	.container .col-md-6 .delivery input{
		width:45%;
	}
	.cart-summary.no-border tr th,.cart-summary.no-border tr td{
		display:block;
		width:100%;
	}
	#checkout .cart-summary.no-border tr:first-child{
		display:none!important;
	}
	.cart-summary.no-border tr.product-detail-row td.pro_name{
		padding-left:60px;
		height:125px;
	}
	.cart-summary.no-border tr.product-detail-row td,
	.cart-summary.no-border tr td.product-quanlity,
	.cart-summary.no-border tr td.product-quanlity.action{
		padding-top:20px;
	}

	.pr-total table,.cart-summary.no-border tr.pr-total td{
		float:left;
		width:100%;
	}
	.pr-total table,.cart-summary.no-border tr.pr-total td tr td{
		width:50%;
	}
	#coupon_code{
		min-width:200px;
	}
	.cart-summary.no-border tr.product-detail-row td{
		position:relative;
	}
	.cart-summary.no-border tr.product-detail-row td:before{
		position:absolute;
		top:20px;
		left:10px;		
	}
	.cart-summary.no-border tr.product-detail-row td.pro_name:before{
		content:"Name";	
		top:50px;		
	}
	.cart-summary.no-border tr.product-detail-row td.base-price:before{
		content:"Price";			
	}
	.cart-summary.no-border tr.product-detail-row td.pro_tax:before{
		content:"Tax";		
	}
	.cart-summary.no-border tr.product-detail-row td.product-quanlity:before{
		content:"Quantity ";			
	}
	.cart-summary.no-border tr.product-detail-row td.product-quanlity.action:before{
		content:"Action";
	}
	.cart-summary.no-border tr.product-detail-row td.sub-total:before{
		content:"Total";		
	}
        #contact-form button.sendmail{
            max-width: 100%;
        }
        #wishlist table tr td{
            width: 100%!important;
            display: block;
            padding: 20px!important;
            min-height: 145px;
        }
        #wishlist table tr.total td{
            padding: 20px 0!important;
        }
        #wishlist table tr td img{
            margin-top: 0;
        }
        #wishlist button.add{
            clear: none;
        }
        #wishlist table tr td.img{
            text-align: center;
        }
        #wishlist table tr td img{
            display: inline-block;
        }
        #pr-login h1.ct-header{
                padding-top:20px!important;
        }
        #pr-contact #contact-form{
            width: 100%!important;
        }
        .cart-view-top div.col-md-6.right{
            text-align:left;
	}
        #checkout{
            padding-top: 10px!important;
        }
}
@media (max-width: 320px){
    #wishlist table tr.total td button.addcart,#wishlist table tr.total td button.update,#wishlist table tr.total td button.share{
        width: 90%;
        background-position: 24% 11px;
    }
    #wishlist table tr.total td button.addcart:hover,
    #wishlist table tr.total td button.update:hover,
    #wishlist table tr.total td button.share:hover{
        background-position: 24% 11px;
    }
    .cart-top p{
        margin-top: 0;
    }
    #wishlist table tr td.img,#wishlist table tr td.data{
        border-bottom: 0;
    }
    #wishlist table tr td.end{
        padding-top: 0!important;
    }
    #wishlist h1.ct-header{
        padding:0 15px 20px ; 
    }
    #wishlist{
        padding-top: 20px;
    }
    #pr-contact #contact-form{
        width: 100%!important;
    }
    #contact-form textarea {
        height: 160px;
    }
    .cart-view-top .col-md-6.col-sm-6.col-xs-12 h1{
        margin-top: 10px;
    }
    .cart-view-top div.col-md-6.right h1::after{
        top:3px;
    }
}
/* End reponsive */
.wishlist #breadcrumbs{
	background:#fcfcfc;
}
.table-cart.table .product-info .product-image-col{
    border: 1px solid #666666;
    display: none;
}
#cart-contents .icon.icon-checked{
    background: url(images/ic-check.png) no-repeat 5px 5px;
}
#shipments > label{
    vertical-align: top;
    margin-top: -2px;
}
.product-quanlity.action a{
	font-size:14px;
}
.product-quanlity.action a.fa-refresh{
	padding-right:5px;
}
img{
	max-width:100%;
}
/*-------------------------------home edit-----------------------*/
.home-category .block-center .inner-top a{
	float:left;
}
.home-category .block-center .inner-top a.frist{
	margin-right:28px;
}
.home-category .block-center .inner-bottom{
	margin-top: 14px;
	float:left;
}
.home-category .block-right .inner-bottom{
	margin-top: 14px;
}
.home-category .info{
	position:absolute;
	top:50%;
	left:50%; 
	margin-top:-13px;
}
.home-category .info a{
	color:#fff;
	font-size:0;
	text-transform:uppercase;
	position:relative;
	font-weight:bold;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	white-space:nowrap;
}
.home-category .info a:before{
	border: 1px solid #fff;
	border-radius: 100%;
	content: "";
	height: 0px;
	opacity: 0;
	position: absolute;
	left:50%;
	top: 50%;
	transition: all 0.2s ease-out 0s;
	-webkit-transition: all 0.2s ease-out 0s;
	-moz-transition: all 0.2s ease-out 0s;
	-o-transition: all 0.2s ease-out 0s;
	visibility: hidden;
	width: 0px;
}
/*hover block left*/
.home-category .block-left:hover .info a{
	font-size:128.57%;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	margin-left:-45px;
	margin-top:-13px; 
}
.home-category .block-left:hover .image:before{
	transform: scale(1);
	visibility:visible;
	transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	opacity:1;
}
.home-category .info a:hover{
	color:#25bce9
}
.home-category .block-left:hover .info a:before{
	transition: all 0.2s ease-out 0s;
	-webkit-transition: all 0.2s ease-out 0s;
	-moz-transition: all 0.2s ease-out 0s;
	-o-transition: all 0.2s ease-out 0s;
	height:150px;
	width:150px;
	visibility:visible;
	opacity:1;
	margin-top:-75px;
	margin-left:-75px;
}
/*hover block center*/
.home-category .block-center .inner-top .box-left:hover .info a:before{
	transition: all 0.2s ease-out 0s;
	-webkit-transition: all 0.2s ease-out 0s;
	-moz-transition: all 0.2s ease-out 0s;
	-o-transition: all 0.2s ease-out 0s;
	height:124px;
	width:124px;
	visibility:visible;
	opacity:1;
	margin-top:-62px;
	margin-left:-62px;
}
.home-category .block-center .inner-top .box-left:hover .image:before{
	transform: scale(1);
	visibility:visible;
	transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	opacity:1;
}
.home-category .block-center .inner-top .box-left:hover .info a{
	font-size:128.57%;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	margin-left:-45px;
	margin-top: 0px; 
}
.home-category .block-center .inner-top .box-right:hover .info a:before{
	transition: all 0.2s ease-out 0s;
	-webkit-transition: all 0.2s ease-out 0s;
	-moz-transition: all 0.2s ease-out 0s;
	-o-transition: all 0.2s ease-out 0s;
	height:150px;
	width:150px;
	visibility:visible;
	opacity:1;
	margin-top:-75px;
	margin-left:-75px;
}
.home-category .block-center .inner-top .box-right:hover .image:before{
	transform: scale(1);
	visibility:visible;
	transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	opacity:1;
}
.home-category .block-center .inner-top .box-right:hover .info a{
	font-size:128.57%;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	margin-left:-45px;
	margin-top: 0px; 
}
.home-category .block-center .inner-bottom:hover .info a:before{
	transition: all 0.2s ease-out 0s;
	-webkit-transition: all 0.2s ease-out 0s;
	-moz-transition: all 0.2s ease-out 0s;
	-o-transition: all 0.2s ease-out 0s;
	height:124px;
	width:124px;
	visibility:visible;
	opacity:1;
	margin-top:-62px;
	margin-left:-62px;
}
.home-category .block-center .inner-bottom:hover .image:before{
	transform: scale(1);
	visibility:visible;
	transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	opacity:1;
}
.home-category .block-center .inner-bottom:hover .info a{
	font-size:128.57%;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	margin-left:-45px;
	margin-top:-13px; 
}
/*hover block right*/
.home-category .block-right .inner-bottom:hover .info a:before{
	transition: all 0.2s ease-out 0s;
	-webkit-transition: all 0.2s ease-out 0s;
	-moz-transition: all 0.2s ease-out 0s;
	-o-transition: all 0.2s ease-out 0s;
	height:124px;
	width:124px;
	visibility:visible;
	opacity:1;
	margin-top:-62px;
	margin-left:-62px;
}
.home-category .block-right .inner-bottom:hover .image:before{
	transform: scale(1);
	visibility:visible;
	transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	opacity:1;
}
.home-category .block-right .inner-bottom:hover .info a{
	font-size:128.57%;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	margin-left:-57px;
	margin-top:-13px; 
}
.home-category .block-right .inner-top:hover .info a:before{
	transition: all 0.2s ease-out 0s;
	-webkit-transition: all 0.2s ease-out 0s;
	-moz-transition: all 0.2s ease-out 0s;
	-o-transition: all 0.2s ease-out 0s;
	height:124px;
	width:124px;
	visibility:visible;
	opacity:1;
	margin-top:-62px;
	margin-left:-62px;
}
.home-category .block-right .inner-top:hover .image:before{
	transform: scale(1);
	visibility:visible;
	transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	opacity:1;
}
.home-category .block-right .inner-top:hover .info a{
	font-size:128.57%;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	margin-left:-45px;
	margin-top:-13px; 
}
.home-category .block{
	position:relative;
	float:left;
}
.home-category .block .box-left,.home-category .block .box-right,.home-category .block .inner-bottom,.home-category .block .inner-top{
	position:relative;
	float:left;
}
.home-category .block .image{
	position:relative;
	float:left;
}
.home-category .block .image:before{
	position:absolute;
	height:100%;
	width:100%;
	content:"";
	background:rgba(0,0,0,0.3);  
	opacity: 0; 
	top:0;
	left:0;
	transform: scale(0.5);
	transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	visibility: hidden; 
} 
/*-------------slider show-------------------*/
.slide-show{
	position:relative;
	border-top:1px solid #e4e5e7;
	border-bottom:1px solid #e4e5e7;
}
.slide-show .tp-bannertimer{
	display:none !important;
}
.slide-show  .tp-caption{
	font-size:14px !important;
}
.slide-show .style1{
	font-size:342.85%;
	text-transform:uppercase;
	color:#444;
	font-weight:300;
	font-family: 'Roboto Condensed', sans-serif;
}
.slide-show .style1 span.textcolor{
	color:#25bce9;
	font-weight:700;
	font-family: 'Roboto Condensed', sans-serif;
}
.slide-show .style2{
	text-align:left;
	color:#666;
	font-size:128.57%;
	font-weight:300;
	line-height:22px;
	font-family: 'Roboto', sans-serif;
}
.slide-show .btn-sn{
	text-transform:uppercase;
	border:1px solid #25bce9;
	border-radius: 3px;
	-o-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding:9px 28px;
	color:#25bce9;
	float:left;
	font-weight:600;
}
.slide-show .btn-sn:hover{
	background:#25bce9;
	border-color:#25bce9;
	color:#fff;
}
.slide-show .tp-bullets .bullet{
	width:14px !important;
	height:14px !important;
	border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%; 
	margin:0 4px !important;
	background:#d7d7d7; 
	position:relative;
}
/* .slide-show .tp-bullets .bullet:before{
	width:16px;
	height:16px;
	display:block;
	position:absolute;
	border:4px solid #fff;
	content:"";
	border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	top:50%;
	left:50%;
	margin-left:-8px;
	margin-top:-8px;
	transition: all 0.3s ease-out 0s;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
} */
.slide-show .tp-bullets .bullet.selected{ 
	background:#25bce9; 
}
.slide-show .tp-bullets .bullet.selected:before{
	border:4px solid #25bce9;
	transition: all 0.3s ease-out 0s;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
}
.slide-show .tp-bullets{
	opacity:1 !important;
	z-index:99;
}
section.home-slidershow{
	padding:0;
}
.breadcrumb > li + li:before{
	padding:0;
}
/*------- blog page------*/
.banner-blog .info{
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-30px;
	margin-top:-17px;
}
.banner-blog .info span{
	font-size:171.42%;
	font-weight:bold;
	color:#fff;
	text-transform:uppercase;
}
/* menu fixed */
.main-header.menu-fixed .logo.hd-pd{
	padding:7px 0;
}
.main-header.menu-fixed .hd-pd{
	padding:0;
}
/* product-list */
.products-list .pro-item a.add-to-wishlist,.products-list .pro-item a.add-to-wishlist,.products-list .pro-item a.add-to-compare,.products-list .pro-item a.quick-view{
	border-left:1px solid #d7d7d7;
	line-height:40px;
	height:40px;
	margin-left:5px;
	cursor:pointer;
}
.products-list .pro-item a.add-to-wishlist:hover,.products-list .pro-item button.add-to-cart:hover,.products-list .pro-item a.add-to-compare:hover, .products-list .pro-item a.quick-view:hover{
	background-color:#fbc443;
}
.products-list .cate-bottom-banner a{
	width:100%;
}
.upload-add-cart{
	width:50%;
}